######################
# Database
######################
POSTGRES_DB=personal_finance
POSTGRES_USER=personal_finance_user
POSTGRES_PASSWORD=personal_finance_password

######################
# SQLAlchemy
######################
# Database URL
# postgresql+psycopg://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:5432/<POSTGRES_DB>
DATABASE_URL=postgresql+psycopg://personal_finance_user:personal_finance_password@localhost:15432/personal_finance

######################
# Redash
######################
REDASH_SECRET_KEY=set-this-to-a-very-lengthy-secret-value
REDASH_COOKIE_SECRET=set-this-to-a-very-lengthy-secret-value
REDASH_SERVER_PORT=9000
REDASH_REDIS_PORT=6379
PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL=redis://redis:6379/0
REDASH_DATABASE_URL=postgresql://personal_finance_user:personal_finance_password@postgres/personal_finance