######################
# Database
######################
POSTGRES_DB=expense_tracker
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=expense_password

######################
# SQLAlchemy
######################
# Database URL
# postgresql+psycopg://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:5432/<POSTGRES_DB>
DATABASE_URL=postgresql+psycopg://expense_user:expense_password@localhost:15432/expense_tracker

######################
# Redash
######################
REDASH_SECRET_KEY=set-this-to-a-very-lengthy-secret-value
REDASH_COOKIE_SECRET=set-this-to-a-very-lengthy-secret-value
REDASH_SERVER_PORT=9000
REDASH_REDIS_PORT=6379
PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL=redis://redis:6379/0
REDASH_DATABASE_URL=postgresql://expense_user:expense_password@postgres/expense_tracker